.container {
    max-height: 70px;
    background: #ffffff;
    border-bottom: 1px solid #007283;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem 2rem 0.1rem  0;
    user-select: none;

    .logo {
        width: 10%;
        max-height: 50px;;
        object-fit: cover;
    }


    .nav {
        flex-grow: 1;
        display: flex;
        margin-left: 10%;
        list-style: none;
        align-items: center;
        justify-content: flex-start;

        .link {
            cursor: pointer;
            font-weight: 400;
            padding: 5px 15px;
            transition: 0.4s;
            color: black;
            text-decoration: none;
            &:hover {
                background-color: #007283;
                color:rgb(197, 197, 5)
            }
        }
    }

    .uniquelink:link{
        margin-bottom: 5%;
        margin-left: 0.5vw;
        margin-right: 0vw;
        text-decoration: none;
         color: black;
        
        
        
    }

    .userSession {
       display: flex;
       align-items: center;
       text-align: center;
       

        .userIcon {
            width: 30px;
             margin-left:40px 
        }

    }


}