.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer{
  display: flex;
  flex-grow: 1;
  justify-content: stretch;
  max-width: 100vw;


}


.bt-add {
  width: 80px;
  height: 30px;
  background-color: #00bc61;
  color:white;
  border:0;
  border-radius: 5px;
  cursor: pointer;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}