.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer{
  display: flex;
  flex-grow: 1;
  justify-content: stretch;
}